
  <div class="heading">
    <h1>About Me</h1>
  </div>

<div class="content">
  <p>Hi there {{name}}</p>

</div>
    <div class="content">
    <p>How many hours do you sleep on average per day?</p>
      <input name="average sleep" type="text">
      <button type="button">Save</button>
    </div>

    <div class="content">
      <p>Amount of hours slept goal:</p>
        <input name="average sleep" type="text">
    </div>

    <div class="content">
      <p>Do you work nightshift? </p>
  <input type="radio" name="yes" value="yes"> Yes<br>
  <input type="radio" name="no" value="no"> No<br>
    </div>

    <div class="content">
      <p>Do you have any caffinated drinks when you wake up?</p>
      <input type="radio" name="yes" value="yes"> Yes<br>
      <input type="radio" name="no" value="no"> No<br>
    </div>

    <div class="content">
      <p>Do you have any caffinated drinks before you sleep</p>
      <input type="radio" name="yes" value="yes"> Yes<br>
      <input type="radio" name="no" value="no"> No<br>

    </div>
