
  <div class="heading">
    <h1>About Me</h1>
  </div>

<div class="content">

  {{#each members}}
  <p>Hi there {{this.name}}</p>
    {{/each}}

</div>
    <div class="content">
    <p>What is your name?</p>
      <input name="test" type="text" id = "name">
      <button type="button" id= "btn" >Save</button>
    </div>

    <div class="content">
      <p>Amount of hours slept goal:</p>
        <input name="average sleep" type="text">
    </div>

    <div class="content">
      <p>Do you work nightshift? </p>
  <input type="radio" name="yes" value="yes"> Yes<br>
  <input type="radio" name="no" value="no"> No<br>
    </div>

    <div class="content">
      <p>Do you have any caffinated drinks when you wake up?</p>
      <input type="radio" name="yes" value="yes"> Yes<br>
      <input type="radio" name="no" value="no"> No<br>
    </div>

    <div class="content">
      <p>Do you have any caffinated drinks before you sleep</p>
      <input type="radio" name="yes" value="yes"> Yes<br>
      <input type="radio" name="no" value="no"> No<br>

    </div>
